body {
    font-family: 'Montserrat', sans-serif;
}
body p {
    line-height: 1.8em;
    color: #666;
}
.nav-item:hover {
    opacity: 0.8;
    background: pink;
    color: black;
}
.navbar-brand {
    color: palevioletred;
}

.slider-home .carousel-item{
    height: 92.5vh;
    background-size: cover !important;
    background-position: center center !important;
}
.slider-home .carousel-item .carousel-caption .caption-content{
    display: flex;
    width: 100%;
    height: 93vh;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: 1.4em;
}
.slider-home .carousel-item .background-image {
    opacity: 0.6;
    height: 100vh;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
h5 {
    font-size: 30px;
}

.about-us {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.about-us-main {
    text-align: justify;
}
h3 {
    color: palevioletred;
}
.submit-button {
    color: black;
    border-color: pink;
    background-color: pink;
    border-radius: 8px;
}
.submit-button:hover {
    opacity: 0.8;
    color: black;
    border-color: pink;
    background-color: pink;
}

/* .container {
    height: 70vh;
} */

/* Bagian Best Seller index.html */
.best-seller {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.container-best-seller {
    min-height: 800px;
    background-color: pink;
    margin-top: 50px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-service .box{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: palevioletred;
}
.section-service{
    margin-top: 30px;
}
.section-service .service-box{
    padding: 30px;
    text-align: center;
}
.icon-service {
    font-size: 30px;
    margin-bottom: 10px;
}
.cheesecake, .bruschetta, .cupcakes {
    text-align: center;
    height: 150px;
    overflow: hidden;
    margin-bottom: 50px;
}
.cheesecake, .bruschetta, .cupcakes {
    width: 250px;
}


.baking-background {
    height: 10vh;
    background-size: cover !important;
    background-position: center center !important;
}


.text-center {
    margin-bottom: 30px;
}

.contact-us {
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.image-hover {
    padding: 20px;
}
.image-hover:hover {
    background-color: palevioletred;
    color: white;
}
.social-media-icons {
    font-size: 50px;
}

.about-us {
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}
.about-us-image {
    margin-bottom: 20px;
}
.bakery-about-us {
    width: 80%;
    height: auto;
}
.about-us-paragraph {
    color: palevioletred;
}
.col-sm-8 {
    margin-bottom: 30px;
    margin-top: 30px;
}
.col-sm-4 {
    margin-bottom: 30px;
    margin-top: 30px;
}
.about-us-main {
    justify-content: center;
}

.whatsapp-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.whatsapp-button .bi-whatsapp {
    font-size: 48px;
    color: green;
}
.responsive {
    justify-content: center;
    align-items: center;
}
.responsive .about-us-image {
    margin-bottom: 30px;
}
h1 {
    font-size: 30px;
}

/* aboutus.html and products.html responsive */
@media screen and (max-width: 766px){
    .about-us-main {
        text-align: justify;
        justify-content: center;
        align-items: center;
    }
    .image {
        padding: 0px 20px;
        background-color: pink;
        display: flex;
        align-items: center;
        width: 80%;
        height: auto;
    }
    .row {
        /* background-color: yellowgreen; */
    }
    .bagels {
        text-align: center;
    }
    .image-about-us {
        align-items: center;
    }
    .bagels-image {
        max-width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .responsive {
        max-width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 545px){
    .about-us-main {
        text-align: justify;
        justify-content: center;
        align-items: center;
    }
    .paragraph {
        width: 100%;
    }
    .social-media {
        flex-direction: column;
    }
    .contact-us {
        justify-content: center;

    }
    .text-center {
        justify-content: center;
        align-items: center;
    }
}

